.menu-container
    position: fixed
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 65px
    background: $white
    border-top: 1px solid transparentize($grey-2, 0.82)
    padding: 0 40px
    font-size: 14px
    font-weight: $font-weight-bold

    & > div
        max-width: 700px
        height: 100%
        margin: auto
        @include flex-position(space-between, center)

    .menu-item
        cursor: pointer
        text-align: center
        color: $brown
        opacity: 0.6
        transition: all ease-in-out .3s
        font-size: 11px
        line-height: 1
        position: relative

        .icon
            width: 20px
            flex: 0 0 20px
            @include flex-position(center, center)
            transition: all ease-in-out .3s
            margin: 0 auto 10px

            svg
                height: auto
                width: 100%

                g, path
                    stroke: $brown

        &.active, &:hover
            opacity: 1

.cart-count
    @include full-circle(15px, 15px)
    @include flex-position(center, center)
    background: $yellow
    color: $black
    font-size: 10px
    font-weight: $font-weight-bold
    position: absolute
    right: -5px
    top: 0