.menu-container
    position: fixed
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 80px
    background: $white
    box-shadow: $menu-shadow
    padding: 0 40px
    font-size: 14px
    font-weight: $font-weight-bold

    & > div
        max-width: 700px
        height: 100%
        margin: auto
        @include flex-position(space-between, center)

    .menu-item
        cursor: pointer
        text-align: center
        color: $brown
        opacity: 0.6
        transition: all ease-in-out .3s
        font-size: 11px
        line-height: 1

        .icon
            width: 20px
            flex: 0 0 20px
            @include flex-position(center, center)
            transition: all ease-in-out .3s
            margin: 0 auto 10px

            svg
                height: auto
                width: 100%

                g, path
                    stroke: $brown

        &.active, &:hover
            opacity: 1