.modal-overlay
    @include full-fixed
    background: $black-trans-3

.modal-container
    @include full-fixed
    @include flex-position(center, center)
    padding: 20px

    .modal-content
        width: 100%
        max-width: 350px
        background: $white
        border-radius: 12px
        box-shadow: $toaster-shadow
        padding: 30px 25px