.tabs-container
    display: flex
    width: 100%
    overflow: auto
    padding: 20px
    position: sticky
    position: -webkit-sticky
    top: 0
    background: $white
    z-index: 10
    -ms-overflow-style: none
    scrollbar-width: none
    transition: all ease-in-out .3s

    &.space-between
        justify-content: space-between

    &::-webkit-scrollbar
        display: none

    &.active
        background: $yellow

    .tab-item
        font-size: 18px
        margin-right: 20px
        position: relative
        white-space: nowrap
        cursor: pointer
        @include flex-position(center, initial)
        transition: all ease-in-out .3s

        &::after
            content: ""
            position: absolute
            @include full-circle(7px, 7px)
            background: $brown
            opacity: 0
            bottom: -10px
            left: calc( 50% -  3px)
            transition: all ease-in-out .3s

        &:last-child
            padding-right: 20px

            &::after
                left: calc( 50% -  12px)

        &.active
            &::after
                opacity: 1