@keyframes splash
    from
        transform: rotate(0deg)

    to
        transform: rotate(180deg)

@keyframes marquee
    0%
        transform: translateX(0)
    100%
        transform: translateX(-50%)