.login-container
    padding-bottom: 0
    
.login-form
    margin-top: 60px

    &-content
        min-height: calc(100vh - 255px)

    .description
        font-size: 18px
        line-height: 22px
        color: $brown
        margin-bottom: 50px
        max-width: 185px