.container
    max-width: 1000px
    margin: auto

.splash-screen-container
    @include full-fixed
    @include flex-position(center, center)
    height: 100vh
    width: 100%
    background: url('/static/images/splash-bg.png') center no-repeat
    background-color: $yellow
    background-size: cover
    z-index: 10000

    img
        width: 230px
        animation: splash 2s cubic-bezier(0.63, 0.01, 0.4, 1.02) infinite alternate

    &.no-bg
        background: transparentize($brown, 0.2)

        img
            width: 150px

    .banner-carousel-swiper
        position: relative
        display: flex
        width: 100%
        transition: transform ease-in-out .4s

.swipe-container
    display: flex
    position: relative
    overflow: hidden
    max-width: 100%
    height: 110px

    .swiper
        position: absolute
        display: flex
        width: 100%
        height: 100%
        transition: transform ease-in-out .4s
        
        & > div
            width: 100%
            flex: 0 0 100%
            height: 100%
            min-width: 100%

.swiper-left-animation-enter
    transform: translateX(-100%)

    &.swiper-left-animation-enter-active
        transform: translateX(0)
        transition: transform 500ms ease-in

.swiper-left-animation-leave
    transform: translateX(0)

    &.swiper-left-animation-leave-active
        transform: translateX(-100%)
        transition: transform 300ms ease-in

.swiper-right-animation-enter
    transform: translateX(100%)

    &.swiper-right-animation-enter-active
        transform: translateX(0)
        transition: transform 500ms ease-in

.swiper-right-animation-leave
    transform: translateX(0)

    &.swiper-right-animation-leave-active
        transform: translateX(100%)
        transition: transform 300ms ease-in