.my-account
    &-header
        height: 105px
        background: $yellow
        @include flex-position(center, center)
        font-size: 22px
        font-weight: $font-weight-bold
        color: $brown
        
        .back
            position: absolute
            top: 30px
            left: 0px
            @include full-circle(45px, 45px)
            @include flex-position(center, center)
            background: $brown-2
            cursor: pointer
            padding: 10px
            transform: rotate(180deg)

            svg
                path
                    stroke: $white

    .tabs-container
        justify-content: space-between
        background: $yellow-light

        .tab-item
            &:last-child
                margin-right: 0
                padding-right: 0

    &-content
        padding: 20px 20px 155px

    .my-orders
        margin: 0 -20px

        .my-order-price
            min-width: 100px

    .section-title
        height: 35px
        border-radius: 18px
        @include flex-position(center, center)
        padding: 0 25px
        background: transparentize($grey, 0.82)
        font-size: 16px
        font-weight: $font-weight-bold
        color: $brown
        margin: 40px auto
        max-width: 155px

        &.filled
            background: transparentize($yellow, 0.87)

    .cart-actions
        bottom: 65px !important
        margin: 0 -20px