.shop-container
    height: 100%

    & > .container
        padding-bottom: 65px

.shop-section
    margin-bottom: 30px
    padding: 0 15px
    display: flex
    flex-direction: column
    align-items: center

    &.search-section
        margin-top: 35px

    @media (min-width: 640px)
        padding: 0 30px

    .section-title
        height: 35px
        width: auto
        @include flex-position(initial, center)
        border-radius: 18px
        padding: 0 10px
        font-size: 16px
        font-weight: $font-weight-bold
        background: transparentize($grey, 0.87)

        &.favorite
            background: transparentize($yellow, 0.87)

        .icon
            display: flex
            width: 20px
            flex: 0 0 20px
            height: 20px
            margin-right: 10px

            img, svg
                width: 100%
                height: auto

    .section-items
        margin-top: 30px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 15px
        width: 100%

        @media (min-width: 640px)
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 30px

        @media (min-width: 1024px)
            grid-template-columns: repeat(4, 1fr)
            grid-gap: 40px

        .shop-item
            width: 100%
            height: 285px
            border-radius: 15px
            background: transparentize($yellow, 0.80)
            overflow: hidden
            cursor: pointer

            .item-image
                width: 100%
                height: 240px
                border-radius: 0 0 15px 15px
                position: relative
                overflow: hidden

                img
                    @include image-full-fit(cover, top)

                .item-name
                    @include flex-position(initial, flex-end)
                    position: absolute
                    bottom: 0
                    width: 100%
                    height: 100px
                    background: $shop-item-name-shadow
                    color: $white
                    font-weight: $font-weight-bold
                    padding: 10px
                    word-break: break-word
                    text-transform: capitalize

            .item-price
                font-size: 18px
                font-weight: $font-weight-bold
                display: block
                padding: 12px 15px

    .empty-search-state
        margin: 60px 0

        .image
            width: 140px
            margin: auto

            svg
                width: 100%

    &.carousel
        overflow: hidden
        padding: 0

        .section-items
            width: 100%
            display: flex
            overflow: auto
            -ms-overflow-style: none
            scrollbar-width: none
            grid-gap: unset

            &::-webkit-scrollbar
                display: none

            .shop-item
                width: 200px
                flex: 0 0 200px
                margin-left: 15px

                &:last-child
                    margin-right: 15px

.shop-item-details
    position: relative

    .item-image
        height: 315px
        position: relative

        img
            @include image-full-fit(cover, top)

        .back
            position: absolute
            top: 20px
            left: 20px
            @include full-circle(45px, 45px)
            @include flex-position(center, center)
            background: $black-trans
            cursor: pointer
            padding: 10px
            transform: rotate(180deg)

            svg
                path
                    stroke: $white

    .item-info
        border-bottom: 1px solid transparentize($grey-2, 0.82)
        padding: 20px

        .name-price
            @include flex-position(space-between, flex-start)
            font-size: 22px
            font-weight: $font-weight-bold
            line-height: 27px
            margin-bottom: 15px

            .name
                max-width: 230px
                word-break: break-word
                text-transform: capitalize

            .price
                white-space: nowrap

        .description
            line-height: 19px
            opacity: 0.6

    .select-section
        padding: 20px

        .title
            display: block
            font-size: 14px
            font-weight: $font-weight-bold
            color: $grey-2
            margin-bottom: 15px
            letter-spacing: 1px

        &.sizes-section
            padding: 20px 0

            .title
                margin-left: 20px

        .sizes
            width: 100%
            overflow: auto
            @include flex-position(initial, center)
            -ms-overflow-style: none
            scrollbar-width: none

            &::-webkit-scrollbar
                display: none

            .size-selector
                @include flex-position(center, center)
                height: 45px
                padding: 0 18px
                font-size: 20px
                background: transparentize($grey, 0.87)
                border: 2px solid transparent
                border-radius: 22px
                transition: all ease-in-out .4s
                margin-right: 20px
                cursor: pointer
                position: relative

                &.active
                    border-color: $yellow
                    background: $white

                &:first-child
                    margin-left: 20px

                &:last-child
                    margin-right: 0

                &.disabled
                    pointer-events: none
                    opacity: 0.5

        .quantity
            @include flex-position(space-between, center)

    .add-toppings
        @include flex-position(center, center)
        cursor: pointer
        padding: 0 20px
        font-size: 14px
        font-weight: $font-weight-bold
        letter-spacing: 1px
        height: 70px
        background: $yellow-light
        white-space: nowrap

        &.active
            background: transparentize($yellow, 0.48)

        &.disabled
            pointer-events: none
            opacity: 0.5

        @media (max-width: 400px)
            padding: 0 15px

    .item-footer
        // position: sticky
        // position: -webkit-sticky
        // bottom: 0
        width: 100%
        // height: 85px
        font-size: 22px
        font-weight: $font-weight-bold
        line-height: 1
        cursor: pointer

        .add-to-cart
            height: 85px
            background: $yellow
            box-shadow: $add-cart-shadow
            padding: 0 20px

        .container
            @include flex-position(space-between, center)
            height: 100%

            & > div
                @include flex-position(initial, center)

        svg
            margin-left: 20px
            opacity: 0.6

.toppings-form-overlay
    position: fixed
    bottom: 0
    @include flex-position(center, flex-end)
    background: $black-trans-2
    width: 100%
    height: 100vh
    overflow: hidden
    z-index: 1000

.toppings-form-container
    position: fixed
    bottom: 0
    @include flex-position(center, flex-end)
    width: 100%
    height: 100vh
    overflow: hidden
    z-index: 1000

    .toppings-form
        background: $white
        width: 100%
        max-width: 700px
        max-height: 700px
        border-radius: 25px 25px 0 0

        &-header
            @include flex-position(space-between, center)
            font-size: 22px
            font-weight: $font-weight-bold
            padding: 30px 20px
            border-bottom: 1px solid transparentize($grey-2, 0.7)

            .close
                cursor: pointer
                width: 25px
                flex: 0 0 25px
                height: 25px

                svg
                    width: 100%
                    height: auto

        .toppings-list
            height: 400px
            overflow: auto

            .item
                @include flex-position(space-between, center)
                padding: 15px 20px
                border-bottom: 1px solid transparentize($grey-2, 0.82)

                & > div
                    @include flex-position(initial, center)

                .image
                    width: 45px
                    height: 45px
                    border-radius: 4px
                    overflow: hidden
                    margin-right: 15px

                    img
                        @include image-full-fit(cover, top)

                .name
                    display: block
                    font-size: 20px
                    line-height: 24px
                    margin-bottom: 5px
                    transition: all ease-in-out .3s

                .price
                    font-size: 18px
                    line-height: 22px
                    opacity: 0.57
                    transition: all ease-in-out .3s

                &.active
                    .name
                        font-weight: $font-weight-bold

                    .price
                        opacity: 1

        .toppings-action
            .continue
                @include flex-position(center, center)
                width: 100%
                height: 85px
                background: $yellow
                font-size: 20px
                font-weight: $font-weight-bold
                line-height: 1
                cursor: pointer
                box-shadow: $add-cart-shadow

.toppings-overlay-animation-enter
    opacity: 0

    &.toppings-overlay-animation-enter-active
        opacity: 1
        transition: opacity 500ms ease-in

.toppings-overlay-animation-leave
    opacity: 1

    &.toppings-overlay-animation-leave-active
        opacity: 0
        transition: opacity 300ms ease-in

.toppings-form-animation-enter
    transform: translateY(100%)

    &.toppings-form-animation-enter-active
        transform: translateY(0%)
        transition: transform 500ms ease-in

.toppings-form-animation-leave
    transform: translateY(0%)

    &.toppings-form-animation-leave-active
        transform: translateY(100%)
        transition: transform 300ms ease-in

.geosuggest__suggests
    padding: 0
    box-sizing: border-box
    background: $white
    border: 1px solid transparentize($grey-2, 0.82)
    border-radius: 0
    outline: 0

.geosuggest__item
    list-style-type: none
    font-size: 16px
    line-height: 22px
    padding: 5px 10px
    margin-left: 0
    cursor: pointer

.geosuggest__suggests--hidden
    max-height: 0
    overflow: hidden
    border-width: 0